{% load static %}
<!DOCTYPE HTML>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<meta name="author" content="David Boss">
	<link rel="stylesheet" type="text/css" href="{% static 'registration/human.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> <!-- Reactive website CSS taken from W3schools.com. -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

	<!-- Banner/header Section -->
            
    <div class="row">
		<div class="column">
			<span class="left"><img src="/static/registration/logo.png" class="logo"></span>
			<span class="center"><h2 class ="human">Money for people.</h2></span>
		</div>
		<div class="column">
			<div class="right">
				<div class="w3-bar w3-black">
					 <a class="w3-bar-item w3-button" href={% url 'humanFund' %}>About</button>
					 <a class="w3-bar-item w3-button" href={% url 'registration' %}>Register</button>
					 <a class="w3-bar-item w3-button" href={% url 'login' %}>Login</a>
				</div>
			</div>
		</div>
	</div>
	<hr />

		<div class="container">
			<h1 class="human">The Human Fund</h1>
			
		</div>
	<div class='center'>
		<h3 class="center">Returning User Login</h3>
			<form name="login" class="center form-border-human" action="/action_page.php" onsubmit="return validateForm()" method="post">
				{{ login }}
				<input type="submit" value="Submit Form" >
			</form>
		</div>
<!-- Footer Section -->
<hr />
<div class="clear"></div>
   <div class="column3"><p>The Human Fund</p>
   <p>1234 Fake Street</p>
   <p>New York, New York</p></div>
   <div class="column3">Site Map  | Terms and Conditions | Copy Right 2020 </div>
   <div class="column3">
   <p>Financial Reports</p>
	<p>Festivus for the Restivus</p>
	<p>Aluminum Pole Purchasing</p></div>

	</body>

